// body {
//   /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
// }
// a {
//   color: #00B7FF;
// }

// login
.login-form-wrap {
  padding: 32px;
  .login-form-header {
    text-align: center;
  }
  .login-password-container {
    margin-top: 0;
  }
}

// home
md-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  min-height: 56px;
  .md-toolbar-tools {
    height: 56px;
    max-height: 56px;
    .select-heading {
      padding-right: 10px;
    }
  }
}

md-sidenav {
  width: 250px;
  .nav-header {
    background-color: #373c47;
    color: #f6f6f6 !important;
    .user-name {
      font-size: 25px;
      text-align: center;
    }
    .user-info {
      text-align: center;
      .user-class {
        padding-right: 20px;
      }
    }
  }
  .nav-content {
    background-color: #2d323e;
    color: #f6f6f6 !important;
    .ma-menu {
      padding: 0;
      .list-item .md-button {
        width: 100%;
        padding: 6px;
        margin: 0;
        ng-md-icon {
          padding-right: 8px;
        }
      }
      .sectionActive {
        background-color: rgba(100, 100, 110, 0.8);
      }
    }
  }
}

// Teacher
// Dashboard
.teacher-dashboard-content {
  align-content: flex-start;
  md-card {
    height: 250px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    ng-md-icon {
      fill: #666;
    }
    .card-heading {
      height: 30px;
      .md-subhead {
        padding-top: 7px;
        padding-left: 10px;
      }
    }
    .card-content {
      .homework-title {
        font-size: 36px;
      }
    }
    .card-footer {
      border-top: 1px solid lightgray;
      background-color: #f4f4f4;
      height: 45px;
      .homework-status, .upload-status {
        padding-top: 4px;
      }
    }
  }
}



// /* ui-view-animation */
// .ui-view-container {
//   position: relative;
// }
// [ui-view].ng-enter, [ui-view].ng-leave {
//   position: absolute;
//   left: 0;
//   right: 0;
// }
// [ui-view].ng-enter {
//   animation: 0.5s fade-in;
//   z-index: 100;
// }
// [ui-view].ng-leave {
//   animation: 0.5s fade-out;
//   z-index: 99;
// }
// @keyframes fade-in {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }
// @keyframes fade-out {
//   from { opacity: 1; }
//   to   { opacity: 0; }
// }
