.login-form-wrap {
  padding: 32px;
}
.login-form-wrap .login-form-header {
  text-align: center;
}
.login-form-wrap .login-password-container {
  margin-top: 0;
}

.home-content .top-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  min-height: 56px;
}
.home-content .top-toolbar .md-toolbar-tools {
  height: 56px;
  max-height: 56px;
}
.home-content .top-toolbar .md-toolbar-tools .menu-icon {
  fill: #666;
}
.home-content .top-toolbar .md-toolbar-tools .select-heading {
  padding-right: 10px;
}
.home-content .left-sidenav {
  width: 250px;
}
.home-content .left-sidenav .nav-header {
  background-color: #373c47;
  color: #f6f6f6 !important;
}
.home-content .left-sidenav .nav-header .user-name {
  font-size: 25px;
  text-align: center;
}
.home-content .left-sidenav .nav-header .user-info {
  text-align: center;
}
.home-content .left-sidenav .nav-header .user-info .user-class {
  padding-right: 20px;
}
.home-content .left-sidenav .nav-content {
  background-color: #2d323e;
  color: #f6f6f6 !important;
}
.home-content .left-sidenav .nav-content .ma-menu {
  padding: 0;
}
.home-content .left-sidenav .nav-content .ma-menu .list-item .md-button {
  width: 100%;
  padding: 6px;
  margin: 0;
}
.home-content .left-sidenav .nav-content .ma-menu .list-item .md-button ng-md-icon {
  padding-right: 8px;
  fill: #fff;
}
.home-content .left-sidenav .nav-content .ma-menu .sectionActive {
  background-color: rgba(100, 100, 110, 0.8);
}
.home-content .publish-button-wrap .publish-button {
  padding-top: 6px;
}
.home-content .publish-button-wrap .publish-button .create-icon {
  fill: #fff;
}

.student-review-content .review-to-wrap {
  align-content: flex-start;
}
.student-review-content .review-to-wrap md-card {
  height: 220px;
  width: 100%;
}
.student-review-content .review-to-wrap md-card .card-content .preview {
  width: 227px;
  height: 180px;
}
.student-review-content .review-to-wrap md-card .card-content .preview img {
  width: 210px;
  height: 150px;
  border: 1px solid lightgray;
}
.student-review-content .review-to-wrap md-card .card-content .content textarea {
  overflow-y: auto;
  height: 180px;
  resize: none;
}
.student-review-content .review-to-wrap md-card .card-content .score {
  width: 150px;
}
.student-review-content .review-to-wrap md-card .card-content .score md-input-container {
  margin-bottom: 0;
}
.student-review-content .review-to-wrap md-card .card-content .score md-input-container input {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.student-review-content .review-from-wrap {
  align-content: flex-start;
}
.student-review-content .review-from-wrap md-card {
  min-height: 180px;
  width: 100%;
}
.student-review-content .review-from-wrap md-card .content {
  margin: 0;
  padding: 30px;
  font-size: 18px;
}
.student-review-content .review-from-wrap md-card .score {
  margin: 0;
  background-color: lightgreen;
  width: 200px;
  font-size: 36px;
}

.admin-review-content {
  align-content: flex-start;
}
.admin-review-content .review-card {
  width: 100%;
  height: 210px;
}
.admin-review-content .review-card .card-content .info {
  position: relative;
  width: 220px;
  padding: 3px;
  top: 20px;
  margin-right: 10px;
}
.admin-review-content .review-card .card-content .info md-input-container {
  margin: 0;
}
.admin-review-content .review-card .card-content .info md-input-container label {
  color: #3f51b5;
}
.admin-review-content .review-card .card-content .info md-input-container input {
  text-align: center;
  color: black;
}
.admin-review-content .review-card .card-content .info .download-list {
  margin-top: -10px;
}
.admin-review-content .review-card .card-content .content textarea {
  overflow-y: auto;
  height: 180px;
  resize: none;
}
.admin-review-content .review-card .card-content .score {
  width: 150px;
}
.admin-review-content .review-card .card-content .score md-input-container {
  margin-bottom: 0;
}
.admin-review-content .review-card .card-content .score md-input-container input {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.admin-review-content .confirm-card {
  width: 100%;
}
.admin-review-content .confirm-card md-input-container {
  position: relative;
  top: 20px;
  margin: 0 20px;
}
.admin-review-content .confirm-card span {
  color: #ff5722;
}

.common-dashboard-content {
  align-content: flex-start;
}
.common-dashboard-content md-card {
  height: 250px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.common-dashboard-content md-card ng-md-icon {
  fill: #666;
}
.common-dashboard-content md-card .card-heading {
  height: 30px;
}
.common-dashboard-content md-card .card-heading .md-subhead {
  padding-top: 7px;
  padding-left: 18px;
}
.common-dashboard-content md-card .card-content .homework-title {
  font-size: 36px;
}
.common-dashboard-content md-card .card-footer {
  border-top: 1px solid lightgray;
  background-color: #f4f4f4;
  height: 45px;
}
.common-dashboard-content md-card .card-footer .homework-status, .common-dashboard-content md-card .card-footer .upload-status {
  padding-top: 4px;
}

.upload-dialog {
  width: 350px;
}
.upload-dialog .close-icon {
  fill: white;
}
.upload-dialog .code-content .upload-code-wrap, .upload-dialog .code-content .upload-img-wrap {
  height: 110px;
}
.upload-dialog .code-content .upload-code-wrap label, .upload-dialog .code-content .upload-img-wrap label {
  color: #7098da;
  border: 2px dashed #7098da;
}
.upload-dialog .code-content .upload-code-wrap label .title, .upload-dialog .code-content .upload-img-wrap label .title {
  margin-top: -8px;
}
.upload-dialog .code-content .upload-code-wrap label ng-md-icon, .upload-dialog .code-content .upload-img-wrap label ng-md-icon {
  fill: #7098da;
}
.upload-dialog .code-content .upload-queue-wrap {
  margin-top: 8px;
  padding-left: 8px;
}
.upload-dialog .code-content .upload-queue-wrap .code-queue, .upload-dialog .code-content .upload-queue-wrap .img-queue {
  height: 50px;
  width: 50px;
  color: white;
  background-color: #7098da;
  margin-right: 8px;
  border-radius: 5px;
}
.upload-dialog .code-content .upload-queue-wrap .code-queue ng-md-icon, .upload-dialog .code-content .upload-queue-wrap .img-queue ng-md-icon {
  fill: white;
}
.upload-dialog .github-content {
  height: 130px;
}
.upload-dialog .github-content .github-input-wrap {
  width: 270px;
}

/* ui-view-animation */

/*# sourceMappingURL=style.css.map */
