// body {
//   /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
// }
// a {
//   color: #00B7FF;
// }

// login
.login-form-wrap {
  padding: 32px;
  .login-form-header {
    text-align: center;
  }
  .login-password-container, .login-remember-container {
    margin: 0;
  }
}

// Password
.password-form-wrap {
  padding: 32px;
  .password-form-header {
    text-align: center;
  }
  .password-new-container, .password-confirm-container {
    margin-top: 0;
  }
}

// home
.home-content {
  .top-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    min-height: 56px;
    .md-toolbar-tools {
      height: 56px;
      max-height: 56px;
      .menu-icon {
        fill: #666;
      }
      .select-heading {
        padding-right: 10px;
      }
    }
  }

  .left-sidenav {
    width: 250px;
    .nav-header {
      background-color: #373c47;
      color: #f6f6f6 !important;
      .user-name {
        font-size: 25px;
        text-align: center;
      }
      .user-info {
        text-align: center;
        .user-class {
          padding-right: 20px;
        }
      }
    }
    .nav-content {
      background-color: #2d323e;
      color: #f6f6f6 !important;
      .ma-menu {
        padding: 0;
        .list-item .md-button {
          width: 100%;
          padding: 6px;
          margin: 0;
          ng-md-icon {
            padding-right: 8px;
            fill: #fff;
          }
        }
        .sectionActive {
          background-color: rgba(100, 100, 110, 0.8);
        }
      }
    }
  }

  .publish-button-wrap {
    .publish-button {
      padding-top: 6px;
      // background-color: rgba(170, 200, 200, 0.9);
      .create-icon {
        fill: #fff;
      }
    }
  }
}

// Review
.student-review-content {
  .review-to-wrap {
    align-content: flex-start;
    md-card {
      height: 220px;
      width: 100%;
      .card-content {
        .preview {
          width: 227px;
          height: 180px;
          img {
            width: 210px;
            height: 150px;
            border: 1px solid lightgray;
          }
        }
        .content textarea {
          overflow-y: auto;
          height: 180px;
          resize: none;
        }
        .score {
          width: 150px;
          md-input-container {
            margin-bottom: 0;
            input {
              font-size: 24px;
              font-weight: 300;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .review-from-wrap {
    align-content: flex-start;
    md-card {
      min-height: 180px;
      width: 100%;
      .content {
        margin: 0;
        padding: 30px;
        font-size: 18px;
        span {
          word-break: break-all;
        }
      }
      .score {
        color: white;
        margin: 0;
        background-color: lightblue;
        width: 200px;
        font-size: 36px;
      }
      .ta-review {
        background-color: lightsalmon;
      }
    }
    .occupation-card {
      opacity: 0;
    }
  }
}

.admin-review-content {
  align-content: flex-start;
  .review-card {
    width: 100%;
    height: 210px;
    .card-content {
      .info {
        position: relative;
        width: 220px;
        padding: 3px;
        top: 20px;
        margin-right: 10px;
        md-input-container {
          margin: 0;
          label {
            color: rgb(63,81,181);
          }
          input {
            text-align: center;
            color: black;
          }
        }
        .download-list {
          margin-top: -10px;
        }
      }
      .content textarea {
        overflow-y: auto;
        height: 180px;
        resize: none;
      }
      .score {
        width: 150px;
        md-input-container {
          margin-bottom: 0;
          input {
            font-size: 24px;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }
  .confirm-card {
    width: 100%;
    md-input-container {
      position: relative;
      top: 20px;
      margin: 0 20px;
    }
    span {
      color: rgb(255,87,34);
    }
  }
  .occupation-card {
    opacity: 0;
  }
}

// Common
// Dashboard
.common-dashboard-content {
  align-content: flex-start;
  md-card {
    height: 250px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    ng-md-icon {
      fill: #666;
    }
    .card-heading {
      height: 30px;
      .md-subhead {
        padding-top: 7px;
        padding-left: 18px;
      }
    }
    .card-content {
      color: gray;
      .homework-title {
        font-size: 36px;
      }
    }
    .card-footer {
      border-top: 1px solid lightgray;
      background-color: #f4f4f4;
      height: 45px;
      .homework-status, .upload-status {
        padding-top: 2px;
      }
    }
  }
}

.upload-dialog {
  width: 350px;
  .close-icon {
    fill: white
  }
  .code-content {
    .upload-code-wrap, .upload-img-wrap {
      height: 110px;
      label {
        color: #7098da;
        border: 2px dashed #7098da;
        .title {
          margin-top: -8px;
        }
        ng-md-icon {
          fill: #7098da;
        }
      }
    }
    .upload-queue-wrap {
      margin-top: 8px;
      padding-left: 8px;
      .code-queue, .img-queue {
        height: 50px;
        width: 50px;
        color: white;
        background-color: #7098da;
        margin-right: 8px;
        border-radius: 5px;
        ng-md-icon {
          fill: white;
        }
      }
    }
  }
  .github-content {
    height: 130px;
    .github-input-wrap {
      width: 270px;
    }
  }
}

// Student Detail
.student-detail-content {
  .rank-card {
    overflow: auto;
    md-list md-list-item {
      border-bottom: 1px solid lightgray;
      text-align: center;
    }
    .rank-list-item {
      cursor: pointer;
    }
    .rank-title-wrap {
      .rank-title {
        font-size: 17px;
        margin-top: -8px;
        padding: 10px;
      }
      .class-select {
        margin: 10px 0 16px;
      }
    }
    .self-rank {
      background-color: rgba(180, 180, 180, 0.25);
    }
  }
  .graph-card {
    .graph-container {
      border-bottom: 1px solid lightgray;
    }
    .score-distribution {
      .row-wrap {
        border-bottom: 1px solid lightgray;
        height: 80px;
        .count {
          font-size: 25px;
        }
        .title {
          font-size: 15px;
        }
      }
    }
  }
}
