doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Homework11
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/general.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      .navbar-header
        a.navbar-brand(href="/") Student
      .navbar-body
        ul.navbar-nav
          if logined
            li
              a(href="/logout") Logout
          else
            li
              a(href="/regist") Regist
            li
              a(href="/") Login
    block content
    script(src="/javascripts/jquery.js")
    script(src='/javascripts/general.js')
