<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/styles/general.css"/>
        <link rel="stylesheet" href="../public/styles/index.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Student</a>
            </div>
            <div class="navbar-body">
                <ul class="navbar-nav">
                    <li><a href="/">Sign up</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <form class="login-form" action="" method="post">
                <h3 class="form-header">Sign Up</h3>
                <div class="form-group">
                    <p class="text-warning">&nbsp;</p>
                    <input type="text" name="username" placeholder="Username" class="form-control"/>
                </div>
                <div class="form-group">
                    <p class="text-warning">&nbsp;</p>
                    <input type="text" name="stuID" placeholder="Student Number" class="form-control"/>
                </div>
                <div class="form-group">
                    <p class="text-warning">&nbsp;</p>
                    <input type="text" name="phone" placeholder="Mobile phone" class="form-control"/>
                </div>
                <div class="form-group">
                    <p class="text-warning">&nbsp;</p>
                    <input type="text" name="email" placeholder="Email" class="form-control"/>
                </div>
                <div class="form-group btns">
                    <input type="submit" value="Submit" class="btn submit"/>
                    <input type="reset" value="Reset" class="btn reset"/>
                </div>
            </form>
        </div>
        <script src="../public/scripts/jquery.js"></script>
        <script src="../public/scripts/index.js"></script>
    </body>
</html>