<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/test.css">
    <link rel="stylesheet" href="../styles/user.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <a href="test.html" class="navbar-brand">Student</a>
        </div>
        <div class="navbar-body">
            <ul class="nav-right">
                <li><a class="nav-register" href="test.html">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Welcome</h1>
        </div>
        <div class="information">
            <div class="info-group">
                <p><span class="tag">Username: </span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Student Number: </span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Phone: </span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Email: </span></p>
            </div>
        </div>
    </div>
</body>
</html>