<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/styles/general.css"/>
    <link rel="stylesheet" href="../public/styles/user.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Student</a>
        </div>
        <div class="navbar-body">
            <ul class="navbar-nav">
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Your information</h1>
        </div>
        <div class="information">
            <div class="info-group">
                <p><span class="tag">Username:</span><span class="value">#{username}</span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Student Number:</span><span class="value">#{stuID}</span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Phone:</span><span class="value">#{phone}</span></p>
            </div>
            <div class="info-group">
                <p><span class="tag">Email:</span><span class="value">#{email}</span></p>
            </div>
        </div>
    </div>
</body>
</html>