extends layout

block content
  .container
    .row
      .main-view(ng-view)

  script(src='angular/angular.min.js')
  script(src='angular-route/angular-route.min.js')
  script(src='angular-animate/angular-animate.min.js')
  script(src='angular-sanitize/angular-sanitize.min.js')
  script(src='angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='angular-touch/angular-touch.min.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')
