.col-md-8.col-md-offset-2
  h1 Welcome, {{username}}
  hr
  h4 There are {{posts.totalPostsSize}} posts
  .posts-list(ng-repeat='post in posts.currentPosts')
    .panel.panel-default
      .panel-heading
        h3.panel-title {{post.title}}
      .panel-body
        p {{post.text}}
      .panel-footer
        .pull-right
          a.btn.btn-danger(href='/deletePost/{{post.id}}', ng-show='haslogin && post.author == username') Delete
          a.btn.btn-primary(href='/editPost/{{post.id}}', ng-show='haslogin && post.author == username') Edit
          a.btn.btn-success(href='/readPost/{{post.id}}') More
        .info
          span.author {{post.author}}
          span.time {{post.time | date:'yyyy-MM-dd hh:mm'}}
  hr
  .pagination-wrap(ng-controller="PaginationDemoCtrl")
    ul.pagination(uib-pagination='', total-items='posts.totalPostsSize', items-per-page='posts.postPerPage', ng-model='posts.currentPage', max-size='posts.maxSize', boundary-links='true', first-text='«', last-text='»', previous-text='‹', next-text='›', ng-change='pageChanged()')
