.col-md-10.col-md-offset-1
  .row
    .col-md-4.col-md-offset-4
      //- input(type='hidden', name='_token', value=_token)
      form.regist-form(name='registForm', novalidate)
        h3.form-header Sign Up
        hr
        .form-group
          p.text-warning {{registUsernameInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-user
            input.form-control(type='text', name='username', placeholder='Username', ng-model='form.username', username-validator, ng-blur='checkExist("username")')
        .form-group
          p.text-warning {{registPasswordInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-lock
            input.form-control(type='password', name='password', placeholder='Password', ng-model='form.password', password-validator)
        .form-group
          p.text-warning {{registConfirmInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-lock
            input.form-control(type="password", name='confirm', placeholder="Confirm password", ng-model='form.confirm', confirm-validator)
        .form-group
          p.text-warning {{registStuidInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-pencil
            input.form-control(type='text', name='stuid', placeholder='Student Number', ng-model='form.stuid', stuid-validator, ng-blur='checkExist("stuid")')
        .form-group
          p.text-warning {{registEmailInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-envelope
            input.form-control(type='email', name='email', placeholder='Email', ng-model='form.email', email-validator, ng-blur='checkExist("email")')
        .form-group
          p.text-warning {{registPhoneInfo}} &nbsp;
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-earphone
            input.form-control(type='text', name='phone', placeholder='Mobile phone', ng-model='form.phone', phone-validator, ng-blur='checkExist("phone")')
        .form-group.pull-right.btns
          button.btn.btn-primary.submit(ng-click='registPost()', ng-disabled='!form.username || !form.password || !form.confirm || !form.stuid || !form.email || !form.phone || registForm.username.$invalid || registForm.password.$invalid || registForm.stuid.$invalid || registForm.email.$invalid || registForm.phone.$invalid || form.password != form.confirm || !noExist') Submit
          button.btn.btn-default.reset(type="reset") Reset
