doctype html
html(ng-app='app')
  head
    title My Achievement
    link(rel='stylesheet', href='/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-cloak, aria-label='My Achievements', layout='column')
    .ui-view-container(layout='column', flex)
      .main(ui-view='main', ng-cloak, layout='column', flex)
    script(src='/angular/angular.min.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-aria/angular-aria.min.js')
    //- script(src='/angular-resource/angular-resource.min.js')
    script(src='/angular-material/angular-material.min.js')
    script(src='/angular-material-icons/angular-material-icons.min.js')
    script(src='/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/angular-file-saver/dist/angular-file-saver.bundle.min.js')

    script(src='/javascripts/app.module.js')
    script(src='/javascripts/app.config.js')

    script(src='/javascripts/core/core.module.js')
    script(src='/javascripts/core/storage/storage.service.js')
    script(src='/javascripts/core/authorization/authorization.service.js')
    script(src='/javascripts/core/homework/homework.service.js')

    script(src='/javascripts/login/login.module.js')
    script(src='/javascripts/login/login.controller.js')

    script(src='/javascripts/home/home.module.js')
    script(src='/javascripts/home/home.config.js')
    script(src='/javascripts/home/home.controller.js')
    script(src='/javascripts/home/home.service.js')

    //- home common
    script(src='/javascripts/home/common/common.module.js')
    script(src='/javascripts/home/common/dashboard/dashboard.module.js')
    script(src='/javascripts/home/common/dashboard/dashboard.controller.js')
    script(src='/javascripts/home/common/dashboard/dashboard.filter.js')
    script(src='/javascripts/home/common/dashboard/uploadDialog.controller.js')

    //- home student
    script(src='/javascripts/home/student/student.module.js')
    script(src='/javascripts/home/student/detail/detail.module.js')
    script(src='/javascripts/home/student/detail/detail.controller.js')

    //- home admin
    script(src='/javascripts/home/admin/admin.module.js')
    script(src='/javascripts/home/admin/common/common.module.js')
    script(src='/javascripts/home/admin/common/edit/edit.module.js')
    script(src='/javascripts/home/admin/common/edit/edit.controller.js')
