md-content.student-detail-content(layout='row', layout-padding, layout-fill)
  md-card.md-whiteframe-2dp.rank-card(flex)
    md-list
      md-list-item.rank-title-wrap(layout='row')
        .rank-title
          span 作业排名
        span(flex)
        md-select.md-no-underline.class-select(ng-model="vm.homework", placeholder="作业1")
          md-option(ng-repeat='homework in vm.homeworks | homeworkClassFilter:selectedClass', value="作业{{$index + 1}}", ng-click='vm.selectHomework(homework)') 作业{{$index + 1}}
      md-list-item
        div(flex='20')
          span 排名
        div(flex='30')
          span 姓名
        div(flex='25')
          span 组号
        div(flex='25')
          span 分数
      md-list-item.rank-list-item(ng-repeat='rank in vm.ranks', ng-class='{"self-rank": rank.self}')
        div(flex='20')
          span {{rank.pos}}
        div(flex='30')
          span {{rank.to.name}}
        div(flex='25')
          span {{rank.to.group}}
        div(flex='25')
          span {{rank.score}}
  md-card.md-whiteframe-2dp.graph-card(flex, layout='column')
    .graph-container(flex='60', style='border-bottom: 1px solid lightgray')
    .score-distribution(layout='column')
      .row-wrap(layout='row', flex)
        div(layout='column', layout-align='center center', flex)
          span.count {{vm.scoreDistribution[4]}}
          span.title 90~100分段人数
        div(layout='column', layout-align='center center', flex)
          span.count {{vm.scoreDistribution[3]}}
          span.title 80~90分段人数
      .row-wrap(layout='row', flex)
        div(layout='column', layout-align='center center', flex)
          span.count {{vm.scoreDistribution[2]}}
          span.title 70~80分段人数
        div(layout='column', layout-align='center center', flex)
          span.count {{vm.scoreDistribution[1]}}
          span.title 60~70分段人数
