md-content.common-password-content(layout, layout-align='center center', flex)
  .password-form-wrap.md-whiteframe-4dp
    form(name='passwordForm', layout='column')
      md-input-container.password-old-container
        label 旧密码
        input(type='password', ng-model='vm.form.old')
      md-input-container.password-new-container
        label 新密码
        input(type='password', ng-model='vm.form.new')
      md-input-container.password-confirm-container
        label 再次确认密码
        input(type='password', ng-model='vm.form.confirm')
      md-button.md-raised.md-primary(type='submit', ng-click='vm.submit()') 确认修改
