div(layout='column', layout-align='center center', flex)
  .login-form-wrap.md-whiteframe-4dp
    h3.login-form-header M.A.
    form(name='loginForm', layout='column')
      md-input-container.login-stuid-container
        label 用户名
        input(type='text', ng-model='vm.form.stuid')
      md-input-container.login-password-container
        label 密码
        input(type='password', ng-model='vm.form.password')
      md-input-container.login-remember-container
        md-checkbox.md-primary(ng-model='vm.form.remember', required) 保持登录
      md-button.md-raised.md-primary(type='submit', ng-click='vm.login()') 登录
