.page-header {
    margin-top: 60px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 30px;
}
.page-header h1 {
    font-weight: 500;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.information {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.info-group {
    margin-bottom: 10px;
}
.tag {
    display: inline-block;
    text-align: right;
    width: 160px;
    margin-right: 14px;
}
.value {
    color: #428bca;
}